---
import { getCollection, render } from 'astro:content';
import DiscoursePost from '../../components/DiscoursePost.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.id.replace(/\.[^/.]+$/, '') },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<DiscoursePost frontmatter={post.data}>
  {Content ? <Content /> : <p><em>Content failed to render.</em></p>}
</DiscoursePost>
